<section class="banner">
	<div class="container">
		<div class="banner__wrapper">
			<div class="banner__content">
				<h2 class="banner__title">
					Скачайте наше<br>
					мобильное<br>
					приложение
				</h2>
				<div class="banner-interactions">
					<div class="banner-interactions__item">
						<a href="/" class="base-button base-button_outline">
							Подробнее
						</a>
					</div>
					<div class="banner-interactions__item">
						<ul class="social">
							<li class="social__item">
								<a href="/" class="social-link social-link_ios">
									<svg class="social-link__icon">
										<use xlink:href="/assets/img/sprite.svg#apple"></use>
									</svg>
								</a>
							</li>
							<li class="social__item">
								<a href="/" class="social-link">
									<svg class="social-link__icon">
										<use xlink:href="/assets/img/sprite.svg#android"></use>
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="banner__image">
				<img src="./assets/img/home-banner.png" alt="">
				<img src="./assets/img/home-banner-lg.png" alt="" class="lg-visible">
				<img src="./assets/img/home-banner-sm.png" alt="" class="sm-visible">
			</div>
		</div>
	</div>
</section>