<section class="hero">
	<div class="ticker">
		<ul class="ticker__list">
			<li class="ticker__item">
				ВРЕМЯ УНИКАЛЬНЫХ
			</li>
			<li class="ticker__item">
				Cохраняем ваше время и вещи
			</li>
			<li class="ticker__item">
				ВРЕМЯ УНИКАЛЬНЫХ
			</li>
			<li class="ticker__item">
				Cохраняем ваше время и вещи
			</li>
			<li class="ticker__item">
				ВРЕМЯ УНИКАЛЬНЫХ
			</li>
			<li class="ticker__item">
				Cохраняем ваше время и вещи
			</li>
		</ul>
	</div>
	<div class="container">
		<div class="hero__text">
			<h1 class="site-title">
				Cохраняем ваше время и вещи
			</h1>
			<div class="hero__subtitle">
				Химчистка<br>
				для уникальных<br>
				людей
			</div>
		</div>
		<a href="/" class="hero-btn">
			<div class="hero-btn__image">
				<img src="./assets/img/circle.svg" alt="">
			</div>
			<div class="hero-btn__text">
				Узнать<br>
				цены
			</div>
		</a>
	</div>
</section>