<section class="stock">
	<div class="container">
		<div class="stock__table">
			<div class="stock__wrapper">
				<a href="/" class="stock-banner">
					<div class="stock-banner__title">
						Все акции<br>
						и предложения
					</div>
					<div class="base-button base-button_outline">
						Подробнее
					</div>
					<div class="stock-banner__image">
						<img src="./assets/img/home-stock-banner.png" alt="">
					</div>
				</a>
			</div>
			<div class="stock__wrapper">
				<form action="" class="form">
					<h3 class="form__title form__title_gradient">
						Закажите химчистку с доставкой
					</h3>
					<label class="form-field">
						<span class="form-field__placeholder">
							Ваше имя
						</span>
						<input type="text" class="form-field__input">
					</label>
					<label class="form-field">
						<span class="form-field__placeholder">
							Телефон
						</span>
						<input type="text" class="form-field__input">
					</label>
					<button type="submit" class="base-button">
						Заказать
					</button>
					<p class="form__policy">
						Нажимая на кнопку «Заказать», вы даёте своё согласие на обработку персональных данных согласно
						<a href="/" class="form__link">
							политике конфиденциальности
						</a>
					</p>
				</form>
			</div>
		</div>
	</div>
</section>