<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<a href="/" class="logo">
				<img src="./assets/img/logo-small.svg" alt="Logo of Nikko" class="logo__image">
				<span class="logo__text">
					Химчистка<br>
					для уникальных<br>
					людей
				</span>
			</a>
			<div class="footer__table">
				<div class="footer__wrapper">
					<ul class="footer__list">
						<li class="footer__item">
							<a href="/" class="footer__link">
								О нас
							</a>
						</li>
						<li class="footer__item">
							<a href="/" class="footer__link">
								Услуги и цены
							</a>
						</li>
						<li class="footer__item">
							<a href="/" class="footer__link">
								Акции и новости
							</a>
						</li>
						<li class="footer__item">
							<a href="/" class="footer__link">
								Nikko OFF
							</a>
						</li>
						<li class="footer__item">
							<a href="/" class="footer__link">
								Nikko Home
							</a>
						</li>
					</ul>
				</div>
				<div class="footer__wrapper">
					<ul class="footer-contacts">
						<li class="footer-contacts__item">
							<div class="footer-contacts__title">
								Nikko Home
							</div>
							<a href="tel:+79257403165" class="footer__link">
								+7 (925) 740-31-65
							</a>
							<span class="footer-contacts__date">
								с 08:30 до 21:30
							</span>
						</li>
						<li class="footer-contacts__item">
							<div class="footer-contacts__title">
								Nikko Off
							</div>
							<a href="tel:+79255086676" class="footer__link">
								+7 (925) 508-66-76
							</a>
							<span class="footer-contacts__date">
								с 09:00 до 18:00
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-promo">
			<div class="footer-promo__image">
				<img src="./assets/img/footer-phone.png" alt="">
			</div>
			<div class="footer-promo__content">
				<div class="footer-promo__title">
					Скачайте мобильное приложение Nikko
				</div>
				<ul class="social">
					<li class="social__item">
						<a href="/" class="social-link social-link_ios">
							<svg class="social-link__icon">
								<use xlink:href="/assets/img/sprite.svg#apple"></use>
							</svg>
						</a>
					</li>
					<li class="social__item">
						<a href="/" class="social-link">
							<svg class="social-link__icon">
								<use xlink:href="/assets/img/sprite.svg#android"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-info">
			<div class="footer-info__item">
				© 2015 – 2025 | Nikko. Все права защищены
			</div>
			<a href="/" class="footer-info__item footer-info__item_link">
				Политика конфиденциальности
			</a>
		</div>
	</div>
</footer>