<header class="header">
	<div class="header__content">
		<div class="container">
			<div class="header-interactions">
				<div class="header-interactions__item lg-visible">
					<button class="burger">
						<span class="burger__line"></span>
					</button>
				</div>
				<div class="header-interactions__item">
					<a href="/" class="header-interactions-button">
					<span class="header-interactions-button__title">
						Nikko Off
					</span>
						<span class="header-interactions-button__subtitle">
						в салонах
					</span>
					</a>
				</div>
				<div class="header-interactions__item">
					<a href="/" class="header-interactions-button">
					<span class="header-interactions-button__title">
						Nikko Home
					</span>
						<span class="header-interactions-button__subtitle">
						с доставкой
					</span>
					</a>
				</div>
				<div class="header-interactions__item desktop-hidden lg-visible">
					<a href="tel:+79255086676" class="header-interactions-button">
						<svg class="header-interactions-button__icon">
							<use xlink:href="/assets/img/sprite.svg#phone"></use>
						</svg>
					</a>
				</div>
			</div>
			<a href="/" class="logo">
				<img src="./assets/img/logo.svg" alt="Logo of Nikko" class="logo__image">
			</a>
			<div class="header-interactions">
				<div class="header-interactions__item">
					<a href="tel:+79255086676" class="header-interactions-button">
						<span class="header-interactions-button__title">
							+7 (925) 508-66-76
						</span>
							<span class="header-interactions-button__subtitle">
							с 09:00 до 18:00
						</span>
					</a>
				</div>

				<!-- show when user is not logged in system -->
				<div class="header-interactions__item lg-visible">
					<button class="user-trigger">
						<svg class="user-trigger__icon">
							<use xlink:href="/assets/img/sprite.svg#login"></use>
						</svg>
						<span class="user-trigger__text">
							Войти
						</span>
					</button>
				</div>
				<!-- show when user is logged in system -->
<!--				<div style="display: none" class="header-interactions__item user dropdown lg-visible">-->
<!--					<button class="user-trigger dropdown__trigger">-->
<!--						<svg class="user-trigger__icon">-->
<!--							<use xlink:href="/assets/img/sprite.svg#user-circle"></use>-->
<!--						</svg>-->
<!--						<span class="user-trigger__text">-->
<!--						Кабинет-->
<!--					</span>-->
<!--					</button>-->
<!--					<div class="user-interactions dropdown__item">-->
<!--						<ul class="user-interactions__list">-->
<!--							<li class="user-interactions__item">-->
<!--								<a href="/" class="user-interactions__link">-->
<!--									Сделать заказ-->
<!--								</a>-->
<!--							</li>-->
<!--							<li class="user-interactions__item">-->
<!--								<a href="/" class="user-interactions__link">-->
<!--									Личные данные-->
<!--								</a>-->
<!--							</li>-->
<!--							<li class="user-interactions__item">-->
<!--								<a href="/" class="user-interactions__link">-->
<!--									Мои заказы-->
<!--								</a>-->
<!--							</li>-->
<!--							<li class="user-interactions__item">-->
<!--								<a href="/" class="user-interactions__link">-->
<!--									Бонусы-->
<!--								</a>-->
<!--							</li>-->
<!--							<li class="user-interactions__item">-->
<!--								<a href="/" class="user-interactions__link user-interactions__link_logout">-->
<!--									<svg class="user-interactions__icon">-->
<!--										<use xlink:href="/assets/img/sprite.svg#logout"></use>-->
<!--									</svg>-->
<!--									Выйти-->
<!--								</a>-->
<!--							</li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
			</div>
		</div>
	</div>
	<nav class="nav">
		<div class="container">
			<div class="nav__table">
				<div class="nav__wrapper">
					<ul class="nav__list">
						<li class="nav__item">
							<a href="/" class="nav__link">
								О нас
							</a>
						</li>
						<li class="nav__item">
							<a href="/" class="nav__link">
								Услуги и цены
							</a>
						</li>
						<li class="nav__item">
							<a href="/" class="nav__link">
								Акции и новости
							</a>
						</li>
						<li class="nav__item lg-visible">
							<a href="/" class="nav__link">
								Nikko OFF
							</a>
						</li>
						<li class="nav__item lg-visible">
							<a href="/" class="nav__link">
								Nikko Home
							</a>
						</li>
					</ul>
					<ul class="nav__list">
						<li class="nav__item">
							<a href="/" class="nav__link">
								Личный кабинет
							</a>
						</li>
					</ul>
				</div>
				<div class="nav__wrapper">
					<ul class="nav-contacts">
						<li class="nav-contacts__item">
							<div class="nav-contacts__title">
								Nikko Home
							</div>
							<a href="tel:+79257403165" class="nav__link">
								+7 (925) 740-31-65
							</a>
							<span class="nav-contacts__date">
								с 08:30 до 21:30
							</span>
						</li>
						<li class="nav-contacts__item">
							<div class="nav-contacts__title">
								Nikko Off
							</div>
							<a href="tel:+79255086676" class="nav__link">
								+7 (925) 508-66-76
							</a>
							<span class="nav-contacts__date">
								с 09:00 до 18:00
							</span>
						</li>
					</ul>
				</div>
				<div class="nav__wrapper">
					<div class="nav__title">
						Nikko App
					</div>
					<ul class="social">
						<li class="social__item">
							<a href="/" class="social-link social-link_ios">
								<svg class="social-link__icon">
									<use xlink:href="/assets/img/sprite.svg#apple"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="/" class="social-link">
								<svg class="social-link__icon">
									<use xlink:href="/assets/img/sprite.svg#android"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>