<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="./img/favicon/favicon.ico" type="image/x-icon">
	<title>langston-gulp-starter</title>

	<!-- Import Style's -->
	<link rel="stylesheet" href="./assets/css/main.min.css">
	<link rel="stylesheet" href="./assets/css/vendor.min.css">
</head>
<body class="home-page">

<!-- Header -->
@@include('../components/layout/header.html')
<main>
	<!-- Hero -->
	@@include('../components/home-page/hero.html')
	<!-- Stock -->
	@@include('../components/home-page/stock.html')
	<!-- Banner -->
	@@include('../components/home-page/banner.html')
</main>

<!-- Footer -->
@@include('../components/layout/footer.html')

<!-- Import Script's -->
<script src="./assets/js/main.min.js"></script>
<script src="./assets/js/vendor.min.js"></script>
</body>
</html>