.nav {
    z-index: 98;
    padding: 160px 0 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--color-turquoise);
    overflow: hidden;
    transform: translateY(-100vh);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-normal);
}

.nav.js-active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.nav .container {
    display: block;
}

.nav__table {
    margin: -16px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
}

.nav__wrapper {
    padding: 16px;
    flex: 0 0 25%;
    max-width: 25%;
}

.nav__title {
    margin: 0 0 16px;
    color: var(--color-white);
    font-size: var(--text-base);
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: var(--letter-spacing-normal);
    opacity: 0.5;
}

.nav__list:not(:last-child) {
    margin: 0 0 48px;
}

.nav__item:not(:last-child) {
    margin: 0 0 24px;
}

.nav__item.lg-visible {
    display: none;
}

.nav__link {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--text-xl);
    font-weight: 600;
    line-height: 1;
    letter-spacing: var(--letter-spacing-normal);
    transition: var(--transition-normal);
}

/* Styles on hover =====> */
.nav__link:hover {
    color: var(--color-turquoise-light);
}

.nav-contacts__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-contacts__item:not(:last-child) {
    margin: 0 0 32px;
}

.nav-contacts__title {
    margin: 0 0 8px;
    color: var(--color-white);
    font-size: var(--text-base);
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: var(--letter-spacing-normal);
    opacity: 0.5;
}

.nav-contacts__date {
    margin: 8px 0 0;
    color: var(--color-white);
    font-size: var(--text-base);
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: var(--letter-spacing-normal);
    opacity: 0.5;
}

.social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.social__item:not(:last-child) {
    margin: 0 16px 0 0;
}

.social-link {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-turquoise-light);
    border-radius: var(--rounded-full);
    transition: var(--transition-normal);
}

.social-link_ios {
    padding: 6px 8px 10px;
}

.social-link__icon {
    fill: var(--color-white);
    max-width: 32px;
    min-width: 32px;
    max-height: 32px;
    min-height: 32px;
    transition: var(--transition-normal);
}

/* Styles on hover =====> */
.social-link:hover {
    background-color: var(--color-grey-light);
}

.social-link:hover .social-link__icon {
    fill: var(--color-turquoise-light);
}

/*
 * Media 1024px =====>
 */
@media screen and (max-width: 1024px) {
    .nav {
        padding: 80px 0;
    }

    .nav__title {
        margin: 0 0 12px;
        font-size: var(--text-base);
        font-weight: 500;
    }

    .nav__wrapper {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .nav__item.lg-visible {
        display: block;
    }

    .nav__link {
        font-size: var(--text-base);
    }

    .nav-contacts__title,
    .nav-contacts__date {
        font-size: var(--text-base);
        font-weight: 500;
    }
}

/*
 * Media 576px =====>
 */
@media screen and (max-width: 576px) {
    .nav {
        height: 100%;
    }

    .nav__table {
        margin: 0;
    }

    .nav__wrapper {
        padding: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .nav__wrapper:not(:last-child) {
        margin: 0 0 48px;
    }
}